.contenedor{
    background-color: rgb(184, 184, 184);
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: rgb(0, 255, 170);
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(0, 128, 85);
}

textarea:focus,input:focus{
    background-color: rgb(87, 155, 134);
}